@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir.eot');
  src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir.woff') format('woff'),
       url('./fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Bold.eot');
  src: url('./fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Bold.woff') format('woff'),
       url('./fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Light.eot');
  src: url('./fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Vazir-Light.woff') format('woff'),
       url('./fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Droid Arabic Naskh Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/DroidNaskh-Bold.eot');
  src: url('./fonts/DroidNaskh-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/DroidNaskh-Bold.woff') format('woff'),
       url('./fonts/DroidNaskh-Bold.ttf') format('truetype');
}

body {
    font-family: "Vazir", serif;
    direction: rtl;
    line-height: 1.8em;
}

.header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Arabic Naskh Bold', sans-serif;
}

.header h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}


body.article-detail > header h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
    font-style: normal;
}

.header .author {
    font-family: "Vazir", serif;
}

.more, .date {
    font-family: 'Vazir', serif;
}

.archive .year-label,
.archive .month-label{
    font-family: 'Vazir', serif;
}

p {
    margin-bottom: 0.5em;
}

h2, h3 {
    margin-bottom: inherit;
}

.article header h2 {
    font-style: normal;
}
