extends layout

block vars
    - var bodyClass = "archives-page"
    - var activePath = "/archive.html"
    
block title
     | آرشیو | #{locals.name} | علی موسوی

block content
    - var lineHeight = 2;
    - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
    -     return moment.utc(item.date).jYear();
    - }).value();
    - for (var archive in archives) {
    -     archives[archive] = _.groupBy(archives[archive], function(item) { return moment.utc(item.date).jMonth(); });
    - }
    - var month_names = ['فروردین', 'اردی‌بهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر', 'دی', 'بهمن', 'اسفند']
    div.container.body-container.archives
        h2 آرشیو
        - var yearsK = _.chain(archives).keys().reverse().value();
        each yearK in yearsK
            - var months = archives[yearK];
            - var monthsK = _.chain(months).keys().reverse().value();
            .row.yearly
                .col-sm-2.col-xs-12.year-label سال #{yearK}:
                .col-sm-10.col-xs-12
                    each monthK in monthsK
                        .row.monthly
                            .col-sm-2.col-xs-3
                                .month-label= month_names[monthK]
                            .col-sm-10.col-xs-9
                                each item in months[monthK]
                                    .row
                                        a(href=item.url)= item.title
